<body class="bg-main ">
    <div class="d-flex justify-content-center job-show">
        <div class="card mb-3" style="width:50rem;">
            <h2 class="card-header text-center">Edit <%= resource_name.to_s.humanize %></h2>
            <div class="card-body">  
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, html: { multipart: true }) do |f| %>
                  <%= render "devise/shared/error_messages", resource: resource %>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                        <%= f.label :username %><br />
                        <%= f.text_field :username, autofocus: true, autocomplete: "username" ,class:'form-control'%>
                      </div>
                      <div class="col-md-6">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:'form-control'%>
                      </div>
                    </div>                    
                  </div>                 

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-4 mt-4">
                        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                        <%= f.password_field :password, autocomplete: "new-password" , class:'form-control' %>
                        <% if @minimum_password_length %>
                          <br />
                          <em><%= @minimum_password_length %> characters minimum</em>
                        <% end %>
                      </div>
                      <div class="col-md-4 mt-5">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'form-control ' %>
                      </div>
                      <div class="col-md-4">
                        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                        <%= f.password_field :current_password, autocomplete: "current-password" ,class:'form-control'%>
                      </div>
                    </div>    
                  </div>                  

                  <div class="form-group">
                    <div class="row">                      
                      <div class="col-md-12">
                        <%= f.label :location %><br />
                        <%= f.text_field  :location, autofocus: true, autocomplete: "location",class:'form-control' %>
                      </div>
                    </div>                    
                  </div>
                  
                  <div class="field">
                    <div class="row">
                      <div class="col-md-6">
                        <%= f.label :description %><br />
                        <%= f.text_field  :description, autofocus: true, autocomplete: "description",class:'form-control' %>
                      </div>
                      <div class="col-md-6">
                        <%= f.label :image %><br />
                        <%= f.file_field :image, autofocus: true, autocomplete: "image",class:'form-control-file' %>
                      </div>
                    </div>                    
                  </div>                

                  <div class="text-center">
                    <%= f.submit "Update" ,class:'btn btn-primary mt-2' %>
                  </div>
                <% end %>

                <%= link_to "Back", :back , class:'btn btn-light'%>
            </div>
        </div>
    </div>  
</body>

