<body class="bg-main ">
  <div class="d-flex justify-content-center job-show">
    <div class="card" style="width:50rem;">
      <div class="card-body">
        
        <div class="card mb-3" style="max-width: 48rem;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <%if @worker.image.present?%>
                        <%= image_tag( @worker.image.url(),class:'card-image worker-show-image')%>
                    <%else%>
                        <%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqGi7T44S1xqTN5HTAaYcT-cYo56LqXlNy1cX359W2C7PshAgY&s",class:'card-image worker-show-image') %>
                    <%end%>
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <p>
                    <strong>Username:</strong>
                    <%= @worker.username %>
                    </p>

                    <p>
                    <strong>Email:</strong>
                    <%= @worker.email %>
                    </p>

                    <p>
                    <strong>Location:</strong>
                    <%= @worker.location %>
                    </p>

                    <p>
                    <strong>Skills:</strong>
                    <%= @worker.skills %>
                    </p>

                    <p>
                    <strong>Hourly Rate:</strong>
                    <%= @worker.hourly_rate %> /hr
                    </p>

                    <p>
                    <strong>Description:</strong>
                    <%= @worker.description %>
                    </p>
                </div>
                </div>
            </div>
        </div>
      
        <div class="text-center">
       
        <%if current_company%>
        <%= link_to 'Get in Touch', company_path(current_company.id,worker_id:@worker.id)  , class:'btn btn-primary'%>
      
         <%end%>
        <%= link_to 'Back', workers_path , class:'btn btn-light'%>
        </div>
      </div>
    </div>
  </div>  
</body>
