<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @transaction.company %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @transaction.worker %>
</p>

<p>
  <strong>Job:</strong>
  <%= @transaction.job %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
